body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    position: relative;
    width: 1082px;
    height: 717px;
}

article {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100%; 
}
.Monitor {
    width: 480px;
    height: 270px;
    padding: 10px;
    margin: 10px;
    top: 60px;
    left: 60px;
}
.MacBook {
    width: 240px;
    height: 145px;
    padding: 10px;
    margin: 10px;
    top: 100px;
    left: 575px;
}
.iPad {
    width: 175px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    top: 280px;
    left: 610px;
}
.Trackpad{
    width: 100px;
    height: 65px;
    padding: 10px;
    margin: 10px;
    top: 550px;
    left: 470px;
}
.Keyboard{
    width: 250px;
    height: 65px;
    padding: 10px;
    margin: 10px;
    top: 550px;
    left: 190px;
}
.Mouse{
    width: 65px;
    height: 65px;
    padding: 10px;
    margin: 10px;
    top: 550px;
    left: 610px;
    border-radius: 50%;
}
.Book1 {
    width: 150px;
    height: 5px;
    padding: 10px;
    margin: 10px;
    top: 435px;
    left: 625px;
}
.Book2{
    width: 170px;
    height: 10px;
    padding: 10px;
    margin: 10px;
    top: 465px;
    left: 615px;
}
.Book3{
    width: 15px;
    height: 85px;
    padding: 10px;
    margin: 10px;
    top: 385px;
    left: 40px;
}
.Book4{
    width: 5px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    top: 370px;
    left: 85px;
}
.Book5{
    width: 15px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    top: 370px;
    left: 120px;
}
.Box1{
    width: 160px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    top: 395px;
    left: 840px;
}
.Box2{
    width: 160px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    top: 395px;
    left: 240px;
}
.Box3{
    width: 30px;
    height: 60px;
    padding: 10px;
    margin: 10px;
    top: 415px;
    left: 180px;
}
.Box4{
    width: 100px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    top: 455px;
    left: 430px;
}
